@font-face {
  font-family: Fontstyle;
  src: url("/src/assets/fonts/GlacialIndifference-Regular.otf") format("opentype");
}

html {
  scroll-behavior: smooth;
}
/* sec  */
.section {
  padding-top: 100px;
  padding-bottom: 80px;
  padding-left: 10%;
  padding-right: 10%;
  min-height: 80vh;
}

/* sec1 */
.section1 {
  padding-top: 30px;
  padding-bottom: 80px;
  padding-left: 10%;
  padding-right: 10%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* คุณสมบัติ h1 และ h3 */
.section1 h1 {
  font-size: 60px;
  display: block;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-weight: light;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.section1 h3 {
  font-size: 24px;
  padding-bottom: 5px;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  color: #aaaaaa;
  font-family: Fontstyle;
}

/*ปุ่ม*/
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 15px;
}

.project-button {
  padding: 10px 15px;
  font-size: 13px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 25px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  transition: all 0.3s ease;
  margin-top: 20px;
  text-decoration: none;
  font-weight: 900;
  font-family: Fontstyle;
}

.project-button:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #7a7a7a;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}