@font-face {
  font-family: Fontstyle;
  src: url("/src/assets/fonts/GlacialIndifference-Regular.otf") format("opentype");
}

html {
  scroll-behavior: smooth;
}

.navbar {
background-color: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 60px; 
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    z-index: 1000;
    transition: padding 0.3s ease;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    text-align: left; 
}

.logo {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none; 
  transition: font-size 0.3s ease; 
  font-family: Fontstyle;
}

.logo:hover {
  cursor: pointer;
  color: #ffffff;
}


.nav-links {
  position: absolute;       /* ลอยจาก flow ปกติ */
  left: 50%;                /* ดันไปที่กึ่งกลางหน้าจอ */
  transform: translateX(-50%); /* ดึงกลับมา 50% ของความกว้างตัวเอง เพื่อให้กลางเป๊ะ */
  
  /* ค่าเดิมของคุณ */
  list-style: none;
  display: flex;
  gap: 35px;
  padding: 0;               /* แนะนำให้ใส่เพื่อล้างค่า default ของ ul */
  margin: 0;                /* แนะนำให้ใส่เพื่อล้างค่า default */
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-family: Fontstyle;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  transition: color 0.3s, font-size 0.3s ease;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-out;
}

.navbar.shrunken {
  padding: 4px 60px; 
}
.navbar.shrunken a {
  font-size: 18px;
}

.navbar a:hover {
  color: #cecece;
}

.navbar a:hover::after {
  transform: scaleX(1);
}

.scroll-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #00bcd4;
  border: none;
  padding: 12px 15px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}